{% extends "base.html" %} {% load crispy_forms_tags %}{% block content %}
<div class="container-fluid">
    <h1>Test modelform</h1>
    <div class="row">
        <div class="row col-md-6">
            <div class="col-md-7 cr_nome text-center">
                <span>Nome pubblicita</span>
            </div>
            <div class="col-md-4 cr_secondi text-center">
                <span class="text-center">Tempo esposizione</span>
            </div>
            {% for cartella in cartelle %}
            <!-- <div class="row col-md-6"> -->
            <div class="col-md-7 cr_nome">
                <!-- <input type="text" value="{{ cartella.nome_cartella }}" class="form-control" readonly> -->
                <a href="{% url 'modifica_pubblicita' pk=cartella.pk %}" class="hr"><span>{{ cartella.nome_cartella }}</span></a>
            </div>
            <div class="col-md-4 cr_secondi text-center">
                <!-- <input type="text" value="{{ cartella.tempo_riproduzione }}" class="form-control"> -->
                <a href="{% url 'modifica_pubblicita' pk=cartella.pk %}" class="hr"><span>{{ cartella.tempo_riproduzione }}</span></a>
            </div>
            <!-- </div> -->
            {% endfor %}
        </div>
        <div class="col-md-6">
            <form method="POST" novalidate>
                {% csrf_token %} {{ form|crispy }}

                <input type="submit" class="btn btn-info" value="Modifica">
            </form>
        </div>
    </div>
</div>
{% endblock content %}